<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  引入 element-ui 样式 -->
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <!--  引入vue.js  -->
    <script src="../static/vue.js"></script>
    <!--  引入 element-ui 组件库 -->
    <script src="../static/element-ui/lib/index.js"></script>
    <!--  引入 axios  -->
    <script src="../static/axios/dist/axios.js"></script>
    <!--  样式  -->
    <style>

    </style>
</head>
<body>
<!-- 创建一个 div，作为 vue实例的作用域，等价于 vue-cli 里的 template -->
<div id="app">

</div>
<!-- 创建vue对象 -->
<script>
    new Vue({
        el: '#app',
        data() {
            return {

            }
        },
        methods:{

        },
        mounted() {

        },
    })
</script>
</body>
</html>